---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <table
    border="0"
    cellspacing="0"
    cellpadding="0"
    width="600"
    style="table-layout: fixed; padding: 0; margin: 0 auto; border-collapse: collapse; border-spacing: 0; width: 100%; max-width: 600px;"
  >
    <tr>
      <td style="padding-bottom: 20px; font-size: 24px; font-weight: 700;">Start using B2B Soft to process sales today!</td>
    </tr>
    <tr>
      <td>
        <a
          href="#"
          style="display: inline-block; vertical-align: top; padding: 20px; margin: 0; color: #fff; background: {{primaryColor or '#2e99db'}}; font-size: 16px; line-height: 1.2; text-decoration: none;"
        >Confirm Email</a>
      </td>
    </tr>
    <tr>
      <td style="padding: 30px 0 0; color: rgb(121, 144, 160); font-size: 16px;">You’re almost ready to get started with B2B Soft. <br />Please confirm your email, so we know that it’s really you.</td>
    </tr>
  </table>
{% endblock %}
