---
title: Index page
logoSrc: 'img/elevate-logo.png'
logoAlt: 'Elevate'
logoWidth: '146'
secondaryColor: 'rgb(31,31,31)'
primaryColor: 'rgba(247,144,30)'
webinarSchedule: 'https://b2bsofthelp.zendesk.com/hc/en-us/articles/360009791014-POS-Weekly-Webinars'
emailAddress: 'boostelevate@b2bsoft.com'
videoLibrary: 'https://boostelevate.com/external/library'
website: 'https://b2bsoft.com%20/'
regards: 'Boost Elevate Training & User Success team'
teamName: 'Boost Elevate'
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include 'partials/_email-body.html' %}
{% endblock %}
